iframe
{
	width:1500px;
	border-radius:5px;
	height:100px;
	overflow:auto;
	}

.bold
{
	font-weight:bold;
	}
.selected
{	
	background-color:#FFFF00;
}
div#color-picker-background
{
	border:2px solid #000000;
}
div#colorPicker-swatch
{
	width:0px;
	}
