iframe
{
	width:800px;
	border-radius:5px;
	height:200px;
	overflow:auto;
	}

.bold
{
	font-weight:bold;
	}
.selected
{	
	background-color:#FFFF00;
}
div.colorPicker-swatch
{
	margin-top:0px;
	width:100px;
	margin-left:10px;
	}
